<br>
<h2><%= l(:title_who_is_checked_in) %></h2>
 
 
<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery-ui", plugin: 'redmine_leaves'  %>
 <%= javascript_include_tag "application", plugin: 'redmine_leaves'  %>
<% end %>
 




<div class="autoscroll " style=" width:20000">

  <br>
  <div id="main_grid" class="autoscroll" >
  <h3><%= l(:label_currently_checked_in) %>:</h3>
  <ul> 
  <% @list_of_currently_checked_in_users.each do |logged_in| %>
  <li><%= logged_in %></li>
  <% end %>
  </ul>
  <h3><%= l(:label_checked_in_at_least_once_today) %>:</h3>
  <ul> 
  <% @list_of_logged_in.each do |logged_in| %>
  <li><%= logged_in %></li>
  <% end %>
  </ul>
  <h3><%= l(:label_not_checked_in_yet_today) %>:</h3>
  <ul> 
  <% @list_of_not_logged_in.each do |not_logged_in| %>
  <li><%= not_logged_in %></li>
  <% end %>
  </ul>
  
  
    </div>


</div>

